<h1><%= title %></h1>

Output generated: <%= Time.now %>

<pre>
$ <%= @showquota %>
</pre>

<table class="table table-bordered">
  <%# Disk       Disk Usage      Limit    File Usage      Limit %>
  <tr>
    <th>Disk</th>
    <th>Disk Usage</th>
    <th>Disk Limit</th>
    <th>File Usage</th>
    <th>File Limit</th>
  </tr>
  <% @quota.each do |disk| %>
  <tr>
    <td><%= disk.disk_name %></td>
    <td><%= disk.disk_usage %></td>
    <td><%= disk.disk_limit %></td>
    <td><%= disk.file_usage %></td>
    <td><%= disk.file_limit %></td>
  </tr>
  <% end %>

</table>
