

<div class="row mt-3" style="border: 0px 1px 1px 1px solid;">
  <div class="col-md-6">
    <!-- Divider -->
    <div class="row">
      <div class="col">
        <h6 class="text-uppercase">Accounting</h6>
        <!-- Solid divider -->
        <hr class="solid">
      </div>
    </div>
    <table id="allocation_table" class="table table-striped" style="width:100%">
      <thead class="thead-dark">
        <tr>
          <th>Account</th>
          <!-- <th>FY</th> -->
          <th>Default</th>
          <!-- <th>Allocation</th> -->
          <!-- <th>Used & Pending SUs</th> -->
          <th>Balance</th>
          <!-- <th>PI</th> -->
        </tr>
      </thead>
    </table>
  </div>

  <div class="col-md-6">
    <!-- Divider -->
    <div class="row">
      <div class="col">
        <h6 class="text-uppercase">Requests</h6>
        <!-- Solid divider -->
        <hr class="solid">
      </div>
    </div>
    <table id="general_request" class="table" style="width:100%">
      <tbody>
        <tr>
          <td>Request Software</td>
          <td><button type="button" class="btn btn-primary" class="nav-link active btn-rounded mb-4" data-toggle="modal"
            data-target="#requestSoftwareModal">Request</button></td>
        </tr>
        <tr>
          <td>Request Package</td>
          <td><button type="button" class="btn btn-primary">Request</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr class="solid">
  </div>
</div>

<div class="row">
  <div class="col mt-2">
    <h6 class="text-uppercase">Your Summary</h6>
    <!-- Solid divider -->
    <hr class="solid">
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Disk</th>
                  <th>Disk Usage</th>
                  <th>Disk Limit</th>
                  <th>File Usage</th>
                  <th>File Limit</th>
                  <th> % File Usage</th>

                </tr>
              </thead>
              <tbody>
                <% @quota.each do |disk| %>
                <tr>
                  <td><%= disk.disk_name %></td>
                  <td><%= disk.disk_usage %></td>
                  <td><%= disk.disk_limit %></td>
                  <td><%= disk.file_usage %></td>
                  <td><%= disk.file_limit %></td>
                  <td><%= ((disk.file_usage.to_f / disk.file_limit.to_f)*100).to_i %>%</td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="button" class="btn btn-primary" class="nav-link active btn-rounded mb-4" data-toggle="modal"
              data-target="#requestQuotaModal">Request</button>
          </div>
          <!-- ./card-footer -->
        </div>
        <!-- /.card -->
      </div>
    </div>

    <!-- Divider -->
    <div class="row">
      <div class="col">
        <hr class="solid">
      </div>
    </div>
    <!-- Divider -->
    <div class="row">
      <div class="col">
        <h6 class="text-uppercase">Cluster Statistics</h6>
        <!-- Solid divider -->
        <hr class="solid">
      </div>
    </div>

    <div class="row md-2">

      <div class="col">
        <div class="card">
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Cluster Resources</th>
                  <th>Utilization</th>
                  <th>% Utilized </th>
                </tr>
              </thead>
              <tbody>
                <% @usages.each do |usage| %>
                <tr>
                  <td><%= usage.resource %></td>
                  <td><%= usage.used %> / <%= usage.total%></td>
                  <td><span class="badge bg-normal"><%= usage.percent %> </span></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <table class="table table-head-fixed text-nowrap">
          <thead class="thead-dark">
            <tr>
              <th style="width: fit-content;">Job ID</th>
              <th>Name</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            <% if @jobs.length > 0 %>
            <% @jobs.each do |job| %>
            <tr>
              <td><a href="#" data-toggle="modal" data-target="#job<%= job.id %>Modal"><%= job.id %></a></td>
              <td><%= job.name %></td>
              <td><%= job.state %></td>
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td>You have no active jobs.</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<!-- Quota Request Model Forms -->
<div class="modal fade" id="requestQuotaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Quota Increase Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="form" id="modalQuotaRequestForm">
          <div class="md-form mb-2" style="display: none;">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= cluster_name %>" readonly>
          </div>
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="desired_disk">Amount of Desired Disk Quota
              (Optional)</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='desired_disk' class="form-control validate">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="total_file_limit">File Limit Increase (Optional)</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" name="total_file_limit" class="form-control validate">
          </div>

          <div class="md-form">
            <label data-error="wrong" data-success="right" for="request_justification">Justification (Required)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="request_justification" class="md-textarea form-control"
              placeholder="I need space to install Anaconda (❤️). This defintely requires tons of space (and files)!"
              rows="4" required></textarea>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit Request</button>
            <p>Note ⚠️: Either Disk Quota or File Limit must be filled. Invalid request will be ignored.</p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Software Request Model Forms -->
<div class="modal fade" id="requestSoftwareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Software Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="form" id="modalSoftwareRequestForm">
          
          <div class="md-form mb-2" style="display: none;">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= cluster_name %>" readonly>
          </div>
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="software_link">Software Download Link (Required)</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='software_link' class="form-control validate" required>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="toolchains">Toolchain (if applicable)</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" name="toolchains" class="form-control validate" placeholder="e.g. intel/2020a">
            <p>See <a href="https://hprc.tamu.edu/wiki/SW:Toolchains" target="_blank">Toolchains page</a> for more information.</p>
          </div>

          <div class="md-form">
            <label data-error="wrong" data-success="right" for="request_justification">Justifications (Required)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="request_justification" class="md-textarea form-control"
              placeholder="Please provide justifications for your request (e.g. why you need this software, etc.)"
              rows="4" required></textarea>
          </div>

          <div class="md-form">
            <label data-error="wrong" data-success="right" for="additional_notes">Additional Notes (if applicable)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="additional_notes" class="md-textarea form-control"
              placeholder="e.g. License-Restricted Packages (who should have access)"
              rows="4"></textarea>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit Request</button>
            <p>For more information, please check out our <a href="https://hprc.tamu.edu/policies/software.html" target="_blank">Software Policies</a> page.</p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Job Modals -->

<% @jobs.each do |job| %>
<div id="job<%= job.id %>Modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Job <%= job.id %>
        </h4>
      </div>
      <div class="modal-body">
        <table id="classTable" class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Job ID</th>
              <th>Partition</th>
              <th>Name</th>
              <th>State</th>
              <th>Number of Nodes</th>              
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= job.id %></td>
              <td><%= job.partition %></td>
              <td><%= job.name %></td>
              <td><%= job.state %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="confirm_job_kill('<%= job.id %>')">Kill</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<% end %>