<h1><%= title %></h1>

Output generated: <%= Time.now %>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Your Quota</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 10px">Disk</th>
                  <th>Disk Usage</th>
                  <th>Disk Limit</th>
                  <th>File Usage</th>
                  <th>File Limit</th>
                  <th> % File Usage</th>
  
                </tr>
              </thead>
              <tbody>
                <% @quota.each do |disk| %>
                <tr>
                  <td><%= disk.disk_name %></td>
                  <td><%= disk.disk_usage %></td>
                  <td><%= disk.disk_limit %></td>
                  <!-- <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                  </div>
                </td> -->
                  <td><%= disk.file_usage %></td>
                  <td><%= disk.file_limit %></td>
                  <td><span
                      class="badge bg-normal"><%= ((disk.file_usage.to_f / disk.file_limit.to_f)*100).to_i %>%</span>
                  </td>
                </tr>
  
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Cluster Information</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 10px">Resource Name</th>
                  <th>Utilization</th>
                </tr>
              </thead>
              <tbody>
                <% @quota.each do |disk| %>
                <tr>
                  <td><%= disk.disk_name %></td>
                  <td><span
                      class="badge bg-normal"><%= ((disk.file_usage.to_f / disk.file_limit.to_f)*100).to_i %>%</span>
                  </td>
                </tr>
  
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Your Jobs</h3>

        <!-- <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div> -->
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <!-- <th>Partition</th> -->
              <!-- <th>Nodes</th> -->
              <!-- <th>CPUs</th> -->
              <th>State</th>
              <!-- <th>Time</th> -->
              <!-- <th>Time Left</th> -->
              <!-- <th>Start Time</th> -->
              <!-- <th>Reason</th> -->
              <!-- <th>Nodelist</th> -->
            </tr>
          </thead>
          <tbody>
            <% @jobs.each do |job| %>
            <tr>
              <td><%= job.id %></td>
              <td><%= job.name %></td>
              <!-- <td><%= job.partition %></td> -->
              <!-- <td><%= job.nodes %></td> -->
              <!-- <td><%= job.cpus %></td> -->
              <td><%= job.state %></td>
              <!-- <td><%= job.time %></td> -->
              <!-- <td><%= job.time_left %></td> -->
              <!-- <td><%= job.start_time %></td> -->
              <!-- <td><%= job.reason %></td> -->
              <!-- <td><%= job.nodelist %></td> -->
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>