<!-- For Demo Purpose -->
<header class="py-5 text-center">
  <h5 class="display-4">Terra Dashboard</h5>
</header>

<div class="row">
  <div class="col mx-auto">
    <h6 class="text-uppercase">Accounting</h6>
      <!-- Solid divider -->
      <hr class="solid">
  </div>
</div>

<div class="row mb-2 mt-2" style="border: 0px 1px 1px 1px solid;">
  <div class="col">
    <table id="allocation_table" class="table table-striped" style="width:100%">
      <thead class="thead-dark">
        <tr>
          <th>Account</th>
          <th>FY</th>
          <th>Default</th>
          <th>Allocation</th>
          <th>Used & Pending SUs</th>
          <th>Balance</th>
          <th>PI</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<div class="row">
  <div class="col mt-5">
    <h6 class="text-uppercase">Your Summary</h6>
      <!-- Solid divider -->
      <hr class="solid">
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Disk</th>
                  <th>Disk Usage</th>
                  <th>Disk Limit</th>
                  <th>File Usage</th>
                  <th>File Limit</th>
                  <th> % File Usage</th>

                </tr>
              </thead>
              <tbody>
                <% @quota.each do |disk| %>
                <tr>
                  <td><%= disk.disk_name %></td>
                  <td><%= disk.disk_usage %></td>
                  <td><%= disk.disk_limit %></td>
                  <td><%= disk.file_usage %></td>
                  <td><%= disk.file_limit %></td>
                  <td><%= ((disk.file_usage.to_f / disk.file_limit.to_f)*100).to_i %>%</td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="button" class="btn btn-primary" class="nav-link active btn-rounded mb-4" data-toggle="modal"
              data-target="#requestQuotaModal">Request</button>
          </div>
          <!-- ./card-footer -->
        </div>
        <!-- /.card -->
      </div>
    </div>

    <!-- Divider -->
    <div class="row md-2">
      <div class="col mx-auto">
        <h6 class="text-uppercase">Cluster Statistics</h6>
          <!-- Solid divider -->
          <hr class="solid">
      </div>
    </div>

    <div class="row md-2">
      
      <div class="col">
        <div class="card">
          <div class="card-body table-responsive p-0">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Cluster Resources</th>
                  <th>Utilization</th>
                  <th>% Utilized </th>
                </tr>
              </thead>
              <tbody>
                <% @usages.each do |usage| %>
                <tr>
                  <td><%= usage.resource %></td>
                  <td><%= usage.used %> / <%= usage.total%></td>
                  <td><span class="badge bg-normal"><%= usage.percent %> </span></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <table class="table table-head-fixed text-nowrap">
          <thead class="thead-dark">
            <tr>
              <th>Job ID</th>
              <th>Name</th>
              <!-- <th>Partition</th> -->
              <!-- <th>Nodes</th> -->
              <!-- <th>CPUs</th> -->
              <th>State</th>
              <!-- <th>Time</th> -->
              <!-- <th>Time Left</th> -->
              <!-- <th>Start Time</th> -->
              <!-- <th>Reason</th> -->
              <!-- <th>Nodelist</th> -->
            </tr>
          </thead>
          <tbody>
            <% if @jobs.length > 0 %>
            <% @jobs.each do |job| %>
            <tr>
              <td><%= job.id %></td>
              <td><%= job.name %></td>
              <!-- <td><%= job.partition %></td> -->
              <!-- <td><%= job.nodes %></td> -->
              <!-- <td><%= job.cpus %></td> -->
              <td><%= job.state %></td>
              <!-- <td><%= job.time %></td> -->
              <!-- <td><%= job.time_left %></td> -->
              <!-- <td><%= job.start_time %></td> -->
              <!-- <td><%= job.reason %></td> -->
              <!-- <td><%= job.nodelist %></td> -->
            </tr>
            <% end %>
            <% else %>
            <tr>
              <td>You have no active jobs.</td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<!-- Model Forms -->
<div class="modal fade" id="requestQuotaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Quota Increase Request</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="form" id="modalQuotaRequestForm">
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='desired_disk' class="form-control validate">
            <label data-error="wrong" data-success="right" for="desired_disk">Amount of Desired Disk Quota
              (Optional)</label>
          </div>

          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" name="total_file_limit" class="form-control validate">
            <label data-error="wrong" data-success="right" for="total_file_limit">File Limit Increase (Optional)</label>
          </div>

          <div class="md-form">
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="request_justification" class="md-textarea form-control"
              placeholder="I need space to install Anaconda (❤️). This defintely requires tons of space (and files)!"
              rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification">Justification</label>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit Request</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>