<div class="row">
  <div class="col mt-2">
    <h6 class="text-uppercase">Your Summary</h6>
    <!-- Solid divider -->
    <hr class="solid">
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%== erb :"_quota_table" %>
  </div>
  <div class="col-6">
    <%== erb :"_job_table" %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-8">
    <%== erb :"_accounting_table" %>
  </div>
  <div class="col-4">
    <%== erb :"_request_forms" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr class="solid">
  </div>
</div>

<div class="row mb-2">
  <div class="col-6">
    <%== erb :"_cluster_stats" %>
  </div>
</div>