<h1><%= title %></h1>

Output generated: <%= Time.now %>

<pre>
$ <%= @showquota %>
</pre>

<table class="table table-bordered">
  <%# Disk       Disk Usage      Limit    File Usage      Limit %>
  <tr>
    <th>Disk</th>
    <th>Disk Usage</th>
    <th>Disk Limit</th>
    <th>File Usage</th>
    <th>File Limit</th>
  </tr>
  <% @quota.each do |disk| %>
  <tr>
    <td><%= disk.disk_name %></td>
    <td><%= disk.disk_usage %></td>
    <td><%= disk.disk_limit %></td>
    <td><%= disk.file_usage %></td>
    <td><%= disk.file_limit %></td>
  </tr>
  <% end %>

</table>

<pre>
$ <%= @squeue %>
</pre>

<table class="table table-bordered">
  <%# Disk       Disk Usage      Limit    File Usage      Limit %>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Partition</th>
    <th>Nodes</th>
    <th>CPUs</th>
    <th>State</th>
    <th>Time</th>
    <th>Time Left</th>
    <th>Start Time</th>
    <th>Reason</th>
    <th>Nodelist</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= job.id %></td>
    <td><%= job.name %></td>
    <td><%= job.partition %></td>
    <td><%= job.nodes %></td>
    <td><%= job.cpus %></td>
    <td><%= job.state %></td>
    <td><%= job.time %></td>
    <td><%= job.time_left %></td>
    <td><%= job.start_time %></td>
    <td><%= job.reason %></td>
    <td><%= job.nodelist %></td>
    
  </tr>
  <% end %>

</table>


<pre>
$ <%= @myproject %>
</pre>

<table class="table table-bordered">
  <%# Disk       Disk Usage      Limit    File Usage      Limit %>
  <tr>
    <th>Account</th>
    <th>FY</th>
    <th>Default</th>
    <th>Alloccation</th>
    <th>Used &amp; Pending</th>
    <th>Balance</th>
    <th>PI</th>
  </tr>
  <% @allocations.each do |allocation| %>
    <% if allocation != nil %>
      <tr>
        <td><%= allocation.first.account %></td>
        <td><%= allocation.first.fy %></td>
        <td><%= allocation.first.default %></td>
        <td><%= allocation.first.allocation %></td>
        <td><%= allocation.first.used_pending_su %></td>
        <td><%= allocation.first.balance %></td>
        <td><%= allocation.first.pi %></td>
      </tr>
    <%end%>
  <% end %>

</table>