<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <link rel='icon' href='<%= url("/favicon.ico") %>' type='image/x-icon' />
  <link rel="stylesheet" type="text/css" href="<%= url("/bootstrap-4.4.1/css/bootstrap.min.css") %>">
  <link rel="stylesheet" type="text/css" href="<%= url("/DataTables/datatables.min.css") %>" />
  <link rel="stylesheet" type="text/css" href="<%= url("/custom/css/dashboard.css") %>" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <!-- Image and text -->
    <nav class="navbar navbar-dark" style="background-color: #500000; font-family: 'Open Sans'; font-weight: 700;">
      <a class="navbar-brand" href="https://hprc.tamu.edu">
        <img src="<%= url("/images/TAM-Logo-white.svg") %>" width="30" height="30" class="d-inline-block align-top"
          alt="">
      </a>
      <a class="navbar-brand mr-auto" href="https://hprc.tamu.edu">
        <span class="text-uppercase"><%= cluster_name %> Dashboard</span>
      </a>
    </nav>
  </header>




  <div id="main-container" class="container" role="main">
    <% if @error %>
    <div class="alert alert-danger"><%= @error %></div>
    <% end %>

    <%== yield %>
  </div>

  <script src="<%= url("/jquery-3.4.1/jquery-3.4.1.min.js") %>"></script>
  <script src="<%= url("/bootstrap-4.4.1/js/bootstrap.min.js") %>"></script>
  <script type="text/javascript" src="<%= url("/DataTables/datatables.min.js") %>"></script>
  <script type="text/javascript" src="<%= url("/chartjs-2.9.3/Chart.bundle.min.js") %>"></script>
  <script type="text/javascript" src="<%= url("/custom/js/cluster_utility.js") %>"></script>
  <script type="text/javascript" src="<%= url("/custom/js/quota.js") %>"></script>
  <script type="text/javascript" src="<%= url("/custom/js/job_management.js") %>"></script>
  <script type="text/javascript" src="<%= url("/custom/js/allocations.js") %>"></script>
</body>

</html>