<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <link rel='icon' href='<%= url("/favicon.ico") %>' type='image/x-icon' />
  <link rel="stylesheet" type="text/css" href="<%= url("/bootstrap-4.4.1/css/bootstrap.min.css") %>">
  <link rel="stylesheet" type="text/css" href="<%= url("/DataTables/datatables.min.css") %>" />
  <link rel="stylesheet" type="text/css" href="<%= url("/custom/css/dashboard.css") %>" />
</head>

<body>

  <header>
    <!-- Image and text -->
    <nav class="navbar navbar-dark" style="background-color: #500000;">
      <a class="navbar-brand" href="#">
        <img src="<%= url("/images/TAM-Logo-white.svg") %>" width="30" height="30" class="d-inline-block align-top"
          alt="">
        <span class="text-uppercase"><%= cluster_name %> dashboard</span>
      </a>
    </nav>
  </header>


    <script src="<%= url("/custom/js/job_management.js") %>"></script>
  
    <div id="main-container" class="container" role="main">
      <% if @error %>
      <div class="alert alert-danger"><%= @error %></div>
      <% end %>

      <%== yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <span>High Performance Research Computing | <a href="mailto:help@hprc.tamu.edu">Email Us</a> </span>
      </div>
    </footer>

    <script src="<%= url("/jquery-3.4.1/jquery-3.4.1.min.js") %>"></script>
    <script src="<%= url("/bootstrap-4.4.1/js/bootstrap.min.js") %>"></script>
    <script type="text/javascript" src="<%= url("/DataTables/datatables.min.js") %>"></script>
    <script type="text/javascript" src="<%= url("/chartjs-2.9.3/Chart.bundle.min.js") %>"></script>
    <script type="text/javascript" src="<%= url("/custom/js/dashboard.js") %>"></script>

</body>

</html>